@font-face {
  font-family: 'iconfont';  /* project id 715672 */
  src: url('//at.alicdn.com/t/font_715672_f5nxkjzs49q.eot');
  src: url('//at.alicdn.com/t/font_715672_f5nxkjzs49q.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_715672_f5nxkjzs49q.woff') format('woff'),
  url('//at.alicdn.com/t/font_715672_f5nxkjzs49q.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_715672_f5nxkjzs49q.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.icon-qr:before { content: "\e61a"; }*/

/*.icon-gouwudai:before { content: "\e677"; }*/

.icon-jiangpin:before { content: "\e600"; }

.icon-xinyongqia:before { content: "\e678"; }

.icon-40kanjia:before { content: "\e61c"; }

.icon-gomore:before { content: "\ef02";}

.icon-goright:after { content: "\ef02";}

.icon-down:before { content: "\e623"; }

.icon-more-type:before { content: "\e747"; }

.icon-address:before { content: "\e604";}

.icon-home:before { content: "\e628"; }

.icon-market:before { content: '\e617';}

.icon-card:before { content: '\e797';}

.icon-basket:before { content: '\e647';}

.icon-cancel:after { content: '\e60d';}

.icon-shuoming:after { content: '\e605';}

.icon-right-up:after { content: '\e63f';}

.icon-have-used:before { content: '\e66a';}

.icon-have-missed:before { content: '\e642';}

.icon-two-dimension-code:before { content: '\e629';}

.icon-delete:before { content: '\e632';}

.icon-start:before {content: '\e69b';}

.icon-no-choose:before {content: '\e636';}

.icon-choose:before {content: '\e75d';}

.icon-add:before {content: '\e648';}

.icon-xxx:before {content: '\e606';}

.icon-tick:before {content: '\e659';}

.icon-no-data:before {content: '\e869'}

.icon-no-more-data:before {content: '\e612'}

.icon-myinfo:before {content: '\e601'}
